<div ng-include="'app/views/common/header.html'"></div>
<div class="panel panel-default box-combo">
    <div class="panel-heading box-combo-heading">
        <h2><i class="fa fa-cube"></i> Monte Seu Combo</h2>
    </div>
    <div class="panel-body box-combo-body">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="{{tabparams}}#internet" ng-click="clickTab('internet')">Internet</a></li>
            <li><a data-toggle="tab" href="{{tabparams}}#tv" ng-click="clickTab('tv')">TV</a></li>
            <li><a data-toggle="tab" href="{{tabparams}}#pa" ng-click="clickTab('pa')">Plano Adicional</a></li>
            <li><a data-toggle="tab" href="{{tabparams}}#form" ng-click="clickTab('form')">Finalizar</a></li>
        </ul>
        
        <div class="tab-content box-combo-tab-content">
            <div id="internet" class="tab-pane fade in active">
                <input class="form-control" type="text" ng-model="filtroInternet" placeholder="Encontre mais rápido seu plano digitando aqui seu interesse">
                <div class="table-responsive">
                    <table class="table table-bordered plano-table">
                        <tbody>
                            <tr ng-repeat="obj in planosInternetResidencial | filter: filtroInternet">
                                <td width='40px'>
                                    <img height="120px" src="libs/img/internet-com-IP-fixo.jpg" alt="" srcset="">
                                </td>
                                <td>
                                    <div class="plano-titulo"><b>{{obj.titulo}}</b></div>
                                    <div>{{obj.detalhes}}</div>
                                    <div>Fidelidade {{obj.fidelidade}}</div>
                                    <div class="plano-valor"> <i class="fa fa-file-text"></i> {{obj.valor | moeda}}
                                        <span class="plano-posfidelidade">{{obj.posfidelidade}}</span>
                                    </div>
                                </td>
                                <td width="40px" style="padding:40px;">
                                    <button class="btn btn-default" ng-class="{'btn-primary' :obj.selecionado}" ng-click="selecionaInternet(obj)">SELECIONAR</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="tv" class="tab-pane fade">
                <input class="form-control" type="text" ng-model="filtroTV" placeholder="Encontre mais rápido seu plano digitando aqui seu interesse">
                <div class="table-responsive">
                    <table class="table table-bordered plano-table">
                        <tbody>
                            <tr ng-repeat="obj in planosTv | filter: filtroTV">
                                <td width='40px'>
                                    <img height="120px" src="libs/img/20160929-familia-tv.jpg" alt="" srcset="">
                                </td>
                                <td>
                                    <div class="plano-titulo"><b>{{obj.titulo}}</b></div>
                                    <div>{{obj.detalhes}}</div>
                                    <div class="plano-valor"> <i class="fa fa-file-text"></i> {{obj.valor | moeda}}
                                        <span class="plano-posfidelidade">{{obj.posfidelidade}}</span>
                                    </div>
                                </td>
                                <td width="40px" style="padding:40px;">
                                    <button class="btn btn-default" ng-class="{'btn-primary' :obj.selecionado}" ng-click="selecionaTv(obj)">SELECIONAR</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="pa" class="tab-pane fade">
                <input class="form-control" type="text" ng-model="filtroAdicional" placeholder="Encontre mais rápido seu plano digitando aqui seu interesse">
                <div class="table-responsive">
                    <table class="table table-bordered plano-table">
                        <tbody>
                            <tr ng-repeat="obj in planosAdicionais | filter: filtroAdicional">
                                <td width='40px'>
                                    <img height="120px" src="libs/img/a-plus-png-6.png" alt="" srcset="">
                                </td>
                                <td>
                                    <div class="plano-titulo"><b>{{obj.titulo}}</b></div>
                                    <div>{{obj.detalhes}}</div>
                                    <!-- <div>Fidelidade {{obj.fidelidade}}</div> -->
                                    <div class="plano-valor"> <i class="fa fa-file-text"></i> {{obj.valor | moeda}}
                                        <!-- <span class="plano-posfidelidade">{{obj.posfidelidade}}</span> -->
                                    </div>
                                </td>
                                <td width="40px" style="padding:40px;">
                                    <button class="btn btn-default" ng-class="{'btn-primary' :obj.selecionado}" ng-click="selecionaAdicional(obj)">SELECIONAR</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="form" class="tab-pane fade box-combo-form">
                <form name="form">
                    <div class="row">
                        <div class="col-sm-6 box-planos-selecionados">
                            <h3>Planos Selecionados</h3>
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Plano</th>
                                            <th>Valor</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="obj in combo">
                                            <td>{{obj.titulo}}</td>
                                            <td>{{obj.valor | moeda}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <h3>Contato</h3>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="">Nome</label>
                                        <input class="form-control input-obrigatorio" type="text" name="nome" placeholder="Informe o seu nome" ng-model="obj.nome" ng-required="true">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="">Email</label>
                                        <input class="form-control" type="email" name="email" placeholder="Informe o seu email" ng-model="obj.email" ng-required="false">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="">Celular</label>
                                        <input class="form-control input-obrigatorio" type="text" celular name="celular" placeholder="Informe o seu celular" ng-model="obj.celular" ng-required="true">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="panel-footer box-combo-footer">
        <div class="box-combo-total">
            <label>VALOR TOTAL</label>
            <p>{{total | moeda}}</p>
        </div>
        <div class="box-combo-space"></div>
        <div class="box-combo-acoes">
            <div class="btn-group">
                <button class="btn btn-primary" ng-click="finalizar()" ng-if="tab!=='form'">FINALIZAR</button>
                <button class="btn btn-primary" ng-click="solicitar(obj)" ng-if="tab=='form'" ng-disabled="form.$invalid">SOLICITAR</button>
            </div>
        </div>
    </div>
</div>